
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Course Register Form a Flat Responsive Widget Template :: w3layouts</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Course Register Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <!-- css files -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="/webregister/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- //css files -->

    <link rel="stylesheet" href="/webregister/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->

</head>
<!-- body starts -->
<body>
    <!-- section -->
    <section class="register">
        <div class="register-full">
            <div class="register-left">
                <div class="register">
                    <div class="logo">
                        <a href="#"><span class="fa fa-graduation-cap" aria-hidden="true"></span></a>
                    </div>
                    @*<h1>Register to our library</h1>*@
                    <p>
                        Welcome to our virtual library, where the world of books awaits you without any payment barriers. Step into a realm of literary wonders where you can borrow and immerse yourself in a wide array of books, all at your fingertips. Whether you're a dedicated bookworm, an avid reader, or simply curious to explore new worlds through the written word, our library is here to serve your literary cravings.
                    </p>
                    <div class="content3">
                        <ul>
                            <li><a class="read" href="/Home/Index/"> Go to Website</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="register-right">
                <div class="register-in">
                    <h2><span class="fa fa-pencil"></span> LOGIN HERE</h2>
                    <div class="register-form">
                        <form method="post">
                            <div class="fields-grid">
                                <div class="styled-input agile-styled-input-top">
                                    <input type="text" name="MemberUsername" required="">
                                    <label>Username</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="password" name="MemberPassword" required="">
                                    <label>Password</label>
                                    <span></span>
                                </div>
                                <div class="clear"> </div>
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked>Remember Me!</label>
                            </div>
                            <input type="submit" value="Login">
                            <p style="color:white;">Don't have an account?<a href="/Login/Register/" class="register"> Register</a></p>
                        </form>
                    </div>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
    </section>
    <!-- //section -->
</body>
<!-- //body ends -->
</html>