USE [master]
GO
/****** Object:  Database [DbLibrary]    Script Date: 23/09/2023 14:54:34 ******/
CREATE DATABASE [DbLibrary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbLibrary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbLibrary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbLibrary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbLibrary_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbLibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbLibrary]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 23/09/2023 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [varchar](50) NULL,
	[BookCategory] [tinyint] NULL,
	[BookWriter] [int] NULL,
	[PublishYear] [char](4) NULL,
	[Publisher] [varchar](50) NULL,
	[Pages] [varchar](4) NULL,
	[Status] [bit] NULL,
	[BookImage] [varchar](100) NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CashTransactions]    Script Date: 23/09/2023 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashTransactions](
	[CashTransactionId] [int] IDENTITY(1,1) NOT NULL,
	[Month] [varchar](50) NULL,
	[TotalCash] [decimal](18, 2) NULL,
 CONSTRAINT [PK_CashTransactions] PRIMARY KEY CLUSTERED 
(
	[CashTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 23/09/2023 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [tinyint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 23/09/2023 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
	[Subject] [varchar](50) NULL,
	[MailContent] [varchar](500) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 23/09/2023 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [varchar](50) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 23/09/2023 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[MemberName] [varchar](50) NULL,
	[MemberSurname] [varchar](50) NULL,
	[MemberUsername] [varchar](20) NULL,
	[MemberPassword] [varchar](50) NULL,
	[MemberImage] [varchar](max) NULL,
	[MemberPhone] [varchar](50) NULL,
	[MemberSchool] [varchar](100) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penalties]    Script Date: 23/09/2023 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penalties](
	[PenaltyId] [int] IDENTITY(1,1) NOT NULL,
	[Member] [int] NULL,
	[PenaltyStart] [smalldatetime] NULL,
	[PenaltyEnd] [smalldatetime] NULL,
	[PenaltyAmount] [decimal](18, 2) NULL,
	[PenaltyReason] [int] NULL,
 CONSTRAINT [PK_Penalties] PRIMARY KEY CLUSTERED 
(
	[PenaltyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rents]    Script Date: 23/09/2023 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rents](
	[RentId] [int] IDENTITY(1,1) NOT NULL,
	[Book] [int] NULL,
	[Member] [int] NULL,
	[Employee] [int] NULL,
	[RentalDate] [smalldatetime] NULL,
	[ReturnDate] [smalldatetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Rents] PRIMARY KEY CLUSTERED 
(
	[RentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Writers]    Script Date: 23/09/2023 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Writers](
	[WriterId] [int] IDENTITY(1,1) NOT NULL,
	[WriterName] [varchar](50) NULL,
	[WriterSurname] [varchar](50) NULL,
	[WriterDetail] [varchar](max) NULL,
 CONSTRAINT [PK_Writers] PRIMARY KEY CLUSTERED 
(
	[WriterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contacts] ADD  CONSTRAINT [DF_Contacts_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories] FOREIGN KEY([BookCategory])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categories]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Writers] FOREIGN KEY([BookWriter])
REFERENCES [dbo].[Writers] ([WriterId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Writers]
GO
ALTER TABLE [dbo].[Penalties]  WITH CHECK ADD  CONSTRAINT [FK_Penalties_Members] FOREIGN KEY([Member])
REFERENCES [dbo].[Members] ([MemberId])
GO
ALTER TABLE [dbo].[Penalties] CHECK CONSTRAINT [FK_Penalties_Members]
GO
ALTER TABLE [dbo].[Penalties]  WITH CHECK ADD  CONSTRAINT [FK_Penalties_Rents] FOREIGN KEY([PenaltyReason])
REFERENCES [dbo].[Rents] ([RentId])
GO
ALTER TABLE [dbo].[Penalties] CHECK CONSTRAINT [FK_Penalties_Rents]
GO
ALTER TABLE [dbo].[Rents]  WITH CHECK ADD  CONSTRAINT [FK_Rents_Books] FOREIGN KEY([Book])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[Rents] CHECK CONSTRAINT [FK_Rents_Books]
GO
ALTER TABLE [dbo].[Rents]  WITH CHECK ADD  CONSTRAINT [FK_Rents_Employees] FOREIGN KEY([Employee])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Rents] CHECK CONSTRAINT [FK_Rents_Employees]
GO
ALTER TABLE [dbo].[Rents]  WITH CHECK ADD  CONSTRAINT [FK_Rents_Members] FOREIGN KEY([Member])
REFERENCES [dbo].[Members] ([MemberId])
GO
ALTER TABLE [dbo].[Rents] CHECK CONSTRAINT [FK_Rents_Members]
GO
USE [master]
GO
